<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Proyecto 7</title>
</head>

<body>

    <!-- mostramos los datos que nos llegan desde python -->
    <span>Cliente</span>
    <!-- <p>{{datos}}</p> -->
    <ul>
        {% for registro in datos %}
        <li>
            {{ registro[0] }}
            {{ registro[1] }}
            {{ registro[2] }} 
        </li>
        {% endfor %}

    </ul>

    <!-- enviar datos del formulario a un archivo python donde ya se procesan segun queramos, en action indicamos donde se mandan -->

    <form action="/procesar" method="POST">
        <input type="text" id="texto1" name="texto1">
        <button type="submit">Enviar</button>
    </form>

    <br><br><br>



</body>

</html>